h1, h3, h2, h4 {
    text-align: center;
    font-style: italic;
}

html body {
    background-color: #e0e0e0;
}

h5 {
    font-style: italic;
}

h4 {
    margin-top: 5%;
}

.author {
    margin-top: 0;
}

.red.cell {
    box-shadow: none;
    background-color: red;
}

.correctFlag.cell {
    box-shadow: none;
    color: darkgreen;
    background-color: #9acfea;
}

.incorrectFlag.cell {
    box-shadow: none;
    color: red;
    background-color: #e4b9b9;
}

.pink.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: pink;
}

.hotpink.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: hotpink;
}

.blue.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: blue;
}

.green.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: green;
}

.darkgreen.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: darkgreen;
}

.brown.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: brown;
}

.darkred.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: darkred;
}

.darkblue.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: darkblue;
}

.purple.cell {
    box-shadow: none;
    background-color: whitesmoke;
    color: purple;
}

.gamestats {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: auto;
    background: #666666;
    border: 1px solid #000000;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

span:hover {
    background-color: #204d74;
}

.cell {
    width: 60px;
    height: 60px;
    float: left;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    cursor: pointer;

    max-width: 10%;
    max-height: 10%;

    background: gray;

    border: 1px solid #000000;

    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.container {
    margin-top: 2%;
    width: 100%;
    left: 10%;
    right: 10%;
}

.cell:hover {
    background-color: #afd9ee;
    color: #122b40;
}

.boardRow {
    clear: left;
    display: flex;
    justify-content: center;
}

.btn-group {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.faceDisplay {
    width: 60px;
    height: auto;
}

.mineDisplay {
    border: outset 4px gray;
    width: 100px;
    text-align: center;
    height: inherit;
    background-color: black;
    color: red;
    font-size: xx-large;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
}

.timeDisplay {
    border: outset 4px gray;
    width: 100px;
    text-align: right;
    height: inherit;
    background-color: black;
    color: deepskyblue;
    font-size: xx-large;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;
}

.btn-default {
    color: floralwhite;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    height: auto;
    background: #666666;
    border: 1px solid #000000;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

/*.destroy {*/
    /*overflow: hidden;*/
/*}*/

.destroy {
    transition: all linear 0.5s;
    height: 2.5em;
}

.destroy.ng-hide {
    opacity: 0;
    height: 0;
}